{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorai</title>
    <link rel="stylesheet" href="{% static 'tracker/styles.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'tracker/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tracker/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tracker/icons/favicon-16x1.png' %}">
    <link rel="manifest" href="{% static 'tracker/icons/site.webmanifest' %}">
    


</head>
<body>
    <div class="Bg-Image"></div>

    <main>

        <!-- NavBar -->
        <nav>
            <div>
                <a class = "logo" href="#">
                    <img src="{% static 'tracker/images/shorai.png' %}" alt="shorai">
                </a>
            </div>
            <div class= "menu">
                <a href="#" class = "nav-icon">
                    <img src="{% static 'tracker/images/home-icon.svg'  %}" alt="home-icon">
                    <span>HOME</span>
                </a>
                <a href="#" class = "nav-icon">
                    <img src="{% static 'tracker/images/movie-icon.svg' %}" alt="movie-icon">
                    <span>MOVIES</span>
                </a>
                <a href="#" class = "nav-icon">
                    <img src="{% static 'tracker/images/search-icon.svg' %}" alt="search-icon">
                    <span>SEARCH</span>
                </a>
            </div>
        </nav>

        <!-- Carousel -->
        <section aria-label = "Trending Anime">
            <div class="carousel" data-carousel>
                <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
                <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
                <ul data-slides>
                        <li class="slide" data-active>
                            <img src="https://media.kitsu.io/anime/poster_images/1/small.jpg" alt="">
                        </li>
                        <li class="slide">
                            <img src="https://media.kitsu.io/anime/42765/poster_image/large-5ce19551c1a6cf995b378205b9149b5c.jpeg" alt="">
                        </li>
                </ul>
            </div>
        </section>
    
    

        <!-- Streamers components -->

        <div class="container">
            <div class="wrap">
                <img src="{% static 'tracker/images/crunchyroll.png' %}" alt="Crunchyroll Logo">
                <video autoplay loop playInline muted>
                    <source src="{% static 'tracker/videos/Crunchyroll.mp4' %}" type="video/mp4"/>
                </video>
            </div>
            <div class="wrap">
                <img src="{% static 'tracker/images/Funimation.svg' %}" alt="">
                <video autoplay loop playInline muted>
                    <source src="{% static 'tracker/videos/Funimation.mp4' %}" type="video/mp4"/>
                </video>
            </div>
            <div class="wrap">
                <img src="{% static 'tracker/images/hulu.svg' %}" alt="">
                <video autoplay loop playInline muted>
                    <source src="{% static 'tracker/videos/Hulu.mp4' %}" type="video/mp4"/>
                </video>
            </div>
            <div class="wrap">
                <img src="{% static 'tracker/images/Netflix.png' %}" alt="">
                <video autoplay loop playInline muted>
                    <source src="{% static 'tracker/videos/Netflix.mp4' %}" type="video/mp4"/>
                </video>
            </div>
            <div class="wrap">
                <img src="{% static 'tracker/images/Amazon.svg' %}" alt="">
                <video autoplay loop playInline muted>
                    <source src="{% static 'tracker/videos/Amazon.mp4' %}" type="video/mp4"/>
                </video>
            </div>
    
        </div>
        
        <!-- Trending Section -->
    
        <div class = "trending-container">
            <h4>Trending</h4>
            <div class="trending-content">
                <div class = "trending-wrap">1
                    <img src="https://media.kitsu.io/anime/42765/poster_image/large-5ce19551c1a6cf995b378205b9149b5c.jpeg" alt="">
                </div>
            </div>
        </div>

        <!-- Top Airing Anime -->
        <div class = "trending-container">
            <h4>Top Airing Anime</h4>
            <div class="trending-content">
                <div class = "trending-wrap">1
                    <img src="https://media.kitsu.io/anime/poster_images/41370/large.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- Top Upcoming Anime -->
        <div class = "trending-container">
            <h4>Top Upcoming Anime</h4>
            <div class="trending-content">
                <div class = "trending-wrap">1
                    <img src="https://media.kitsu.io/anime/45857/poster_image/large-1ebb56f346edda6bcde9cdffa9b89316.jpeg" alt="">
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'tracker/carousel.js' %}"></script>
</body>
</html>